*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* header */



.icon{
    width: 50px;
    height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px ;
    position: sticky;
    top: 0px;
    background-color: #00c16d;
    z-index: 1;
    
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
li a {
    text-decoration: none;
}

#inicio main {
    background: rgb(0,0,0);
    background: linear-gradient(121deg, rgba(0,0,0,1) 48%, rgba(0,193,109,1) 48%);
    
}



/* main */
main{
    min-height: 100vh;
    margin-top: auto;
    background-color:#004443;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    width:auto;
}
.title div{
    background-color:#00755c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}
.title div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #ffff00;
    background-color: #00755c;
    border-radius: 20px;
}
h1{
    color: #ffff00;
    padding: 1rem;
    font-size: 2rem;
    width: fit-content;
}
h1 span{
    color:#00c16c;
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
    margin-top: 60px;
}
.divisor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card1{
    border-radius: 10px;
    border: solid black 2px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 1rem;

}
.card1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card1 h3{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    
}
.card1 h3:hover{
background-color: rgb(1, 58, 99);
color: rgb(1, 183, 207) ;
scale: 1.15;
transition-duration: 300ms;
}


.card1 div img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    
}

.card1 p {
    padding: .7rem;
    margin-bottom: 12px;
}

.nombre{
    background-color: #00755c;
    border-radius: 30px;
    color: #ffff00;

}



/* PRODUCTOS */
.buscador{
    position: relative;
    margin: 10px;
    padding: 10px;
}
input{
    padding: 10px;
    width: 350px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;

}

.buscador-boton{
    background-color: #00c16d;
    width: 30px;
    height: 40px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    border: 0;
    outline: none;
    margin: auto;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.boton-compra{
    background-color: #00c16d;
    outline: 0;
    border: 0;
    padding: 10px;
    width: fit-content;
    height: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 5px 0 7px 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.506) 1px 1px 10px 1px;
}
.boton-compra:hover{
    transform: scale(1.2);
    transition: all 200ms;
    background-color: #00755c;
    color: #fff;
}
.boton-compra:active{
    color: #ffff00;
    background-color: #004443;
}


/* footer */


footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background-color: #00755c;
    min-height: 100px;
}

.redes img{
    width: 50px;
    height: 50px;
}
.redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
ul {
    list-style-type: none;
}

.slider{
    overflow: hidden;
    width: 90%;

}

.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease-in;
}

.slider--inner img{
    margin: 50px 100px;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: inherit;

}

.img-carrousel{    
    width: 100vw;
    height: 450px;

}



/* colores https://paletadecolores.com.ar/paleta/002e34/004443/00755c/00c16c/90ff17/ */



/* pagina de ingreso */

.ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00755c42;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
}

.ingreso--titulo{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #00755c;
    margin: 10px;
    border-radius: 10px;

}

.ingreso h3{
    color: #ffff00;
    padding: .8rem;
}

.ingreso input{
    background-color: #00755c;
    color: #fff;
    margin: 10px;
}

.ingreso form ::placeholder{
    color: #ffff00;
}

.ingreso a {
    background-color: #00755c;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;


}

.ingreso a:active{
    color: #ffff00;
}


/* Registro */
#registro {
    background: rgb(0,193,109);
    background: linear-gradient(121deg, rgba(0,193,109,1) 48%, rgba(0,0,0,1) 48%);
}

#registro main{
    background-color: inherit;
}

.form-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #00444396;
    z-index: 1;
}

#header-registro a {
    text-decoration: none;
    color: #ffff00;
}
#header-registro a:visited{
    color: #ffff00;
}

.cambioColor{
    color: #ffff00;
}



/* Inicio de sesion */

.ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ingreso--form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Pagina de productos */

.carrito{
    background-color: #00755c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: none;

}
.carrito img{
    width: 30px;
}
.carrito:hover{
    color: #fff;
    background-color: #004443;
}

#carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border: 2px solid black;
    margin-bottom: 50px;
    min-height: 150px;
}


.boton-borrar{
    background-color: #00c16d;
    outline: 0;
    border: 0;
    padding: 10px;
    width: fit-content;
    height: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 0px 5px 0px 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.506) 1px 1px 10px 1px;
}
.boton-borrar:hover{
    transform: scale(1.2);
    transition: all 200ms;
    background-color: #00755c;
    color: #fff;
}
.boton-borrar:active{
    color: #ffff00;
    background-color: #004443;
}
